// Colors
$gray-bg-general: #eef2f4;
$gray-bg: #fafcfd;
$gray-dark-bg: #d8deeb;
$gray-light-text: #8999a5;
$gray-text: #606483;
$gray-1: #767d86;
$gray-2: #f3f6f8;
$dark-gray: #1e1d2e;
$green: #2f9626;
$green-1: #c6f8c2;
$orange: #ffa438;
$orange-2: #ff9316;
$red: #ef1c31;
$blue: #5fb6e7;
$blue-1: #2f93e1;
$blue-2: #334866;
$red-trans: rgba(236, 95, 107, 0.1);

html {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $gray-bg-general;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: $dark-gray;
}

.container {
  margin-top: 10vh;
  min-width: 800px;
  max-width: 1920px;
  height: 85%;
  position: relative;
  max-height: 1920px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px $dark-gray;
}
.bg-dark {
  top: 0;
  background-color: rgba(59, 59, 59, 0.5);
  z-index: 14;
  width: 100%;
  height: 100%;

  position: absolute;
}

.left {
  margin: 42px;
  display: flex;
  width: 55vw;
  max-width: 710px;
  flex-direction: column;
  position: relative;
}
.left__exp {
  margin: 0 0 32px 0;
}
.left__exp-header {
  background-color: $gray-bg;
  width: 100%;
  height: 42px;
  border-bottom: 2px solid $gray-dark-bg;
  display: flex;
  margin: 0 0 20px 0;
}
.left__exp-time {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px 0;
}
.left__exp-dates {
  font-weight: 600;
  font-size: 16px;
}
.left__exp-total {
  color: $gray-text;
  font-size: 16px;
  font-weight: normal;
}
.left__exp-workplace {
  margin: 0 0 12px 0;
}
.workplace__comp {
  margin: 0 0 12px 0;
}
.workplace__comp-title {
  display: flex;
}
.workplace-name {
  margin: 0 0 0 8px;
  font-weight: 500;
  font-size: 14px;
}
.workplace__comp-site {
  font-weight: normal;
  font-size: 12px;
  color: $gray-text;
  margin: 0;
}
.left__exp-duties {
  margin: 0 0 12px 0;
}
.duties__title {
  font-weight: 500;
  font-size: 14px;
}
.duties__list {
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 25px;
  margin: 0 0 8px 0;
}
.duties__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.duties__list-read-more-btn {
  font-weight: normal;
  font-size: 12px;
  color: $gray-text;
}
.left__exp-achivments {
  margin: 0 0 12px 0;
}
.achivments__title {
  font-weight: 500;
  font-size: 14px;
}
.achivments__list {
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 25px;
  margin: 0 0 8px 0;
}
.achivments__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.achivments__list-read-more-btn {
  font-weight: normal;
  font-size: 12px;
  color: $gray-text;
}
.left__exp-causes {
  margin: 0 0 12px 0;
}
.causes__title {
  font-weight: 500;
  font-size: 14px;
}
.causes__list {
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 25px;
  margin: 0 0 8px 0;
}
.causes__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.causes__list-read-more-btn {
  font-weight: normal;
  font-size: 12px;
  color: $gray-text;
}
.portfolio__title-container {
  background-color: $gray-bg;
  width: 100%;
  border-bottom: 2px solid $gray-dark-bg;
  display: flex;
  margin: 0 0 20px 0;
  cursor: pointer;
}
.portfolio__title {
  margin: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  align-self: center;
}
.portfolio__img {
  border-radius: 10px;
  margin: 0 10px;
}
.left__exp-header-text {
  margin: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  align-self: center;
  span {
    font-size: 16px;
    text-transform: none;
    font-weight: 600;
  }
}

.right {
  margin: 42px 42px 42px 0;
  display: flex;
  flex-direction: column;
  width: 290px;
}
.right__header {
  width: 288px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 42px 42px 26px 0;
  right: 0;
}
.right__header-salary {
  margin: 0;
}

.right__history {
  margin: 195px 0 0 0;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-bg-general;
  border-radius: 10px 10px 0 0;

  .right__history-title {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin: 15px 20px;
    .right__history-title-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: $gray-1;
      margin: 0;
    }
  }
}
.border-radius-on {
  border-radius: 10px;
}
.right__history-resps {
  margin: 0;
  border: 1px solid $gray-bg-general;
  border-radius: 0 0 10px 10px;
}
.right__history-resp {
  display: flex;
  margin: 15px 20px;
}
.right__history-resp-date {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
}

.right__history-resp-date-img {
  height: 24px;
  width: auto;
  margin: 0 0 2px 0;
}
.right__history-resp-date-text {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}
.right__history-resp-desc {
  margin: 0 0 0 10px;
  position: relative;
  &::before {
    content: "";
    height: 46px;
    width: 3px;
    border-radius: 2px;
    display: block;
    position: absolute;
    left: -10px;
  }
}
.right__history-resp-desc-blue {
  &::before {
    background: $blue;
  }
}
.right__history-resp-desc-orange {
  &::before {
    background: $orange;
  }
}
.right__history-resp-desc-green {
  &::before {
    background: $green-1;
  }
}

.right__history-resp-desc-type {
  font-weight: normal;
  font-size: 12px;
  color: $gray-text;
  margin: 0 0 4px 0;
}
.right__history-resp-desc-position {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
.right__media {
  margin: 32px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .right__media-img {
    fill: $blue;
    &:hover {
      fill: $blue-1;
      cursor: pointer;
    }
  }
}
.left__general {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* .left__conditions {
  display: flex;
  margin: 0 0 24px 0;
}
.left__conditions-titles,
.left__conditions-descs {
  min-width: 170px;
}
.left__conditions-title,
.left__conditions-desc {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 8px 0;
}
.left__conditions-title {
  color: $gray-text;
} */
.left__conditions {
  margin: 0 0 24px 0;
  font-size: 14px;
}

.left__conditions-employments {
  display: flex;
}
.left__conditions-employment {
  margin: 0 0 8px 0;
}
.left__conditions-schedules {
  display: flex;
}
.left__conditions-schedule {
  margin: 0 0 8px 0;
}
.left__conditions-movings {
  display: flex;
}
.left__conditions-moving {
  margin: 0 0 8px 0;
}
.right__video-arrow-container {
  display: none;
}
.title {
  min-width: 170px;
  width: 20%;
  color: $gray-text;
}
.left__profession {
  margin: 0 0 16px 0;
}
.left__profession-title {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}
.left__profession-list-title {
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 6px 0;
}
.left__profession-list {
  font-size: 14px;
  line-height: 20px;
}
.right__buttons {
  width: 288px;
  display: flex;
  justify-content: space-between;
  margin: 100px 42px 16px 0;
  position: absolute;
  right: 0;
}
.right__video {
  display: flex;
  align-items: center;
  width: 288px;
  height: 72px;
  border: 1px solid $gray-bg-general;
  border-radius: 10px;
  margin: 150px 42px 32px 0;
  position: absolute;
  right: 0;
}
.right__video-text {
  margin: 0 0 0 12px;
}
.right__video-text-title {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 16px;
}
.right__video-text-paragraph {
  font-weight: normal;
  font-size: 12px;
  color: $gray-text;
}
.right__buttons-like {
  height: 36px;
  width: auto;
  background: $gray-bg-general;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: $red-trans;
    .right__buttons-like-svg {
      stroke: $red;
    }
  }
  .right__buttons-like-svg--active {
    stroke: $red;
    fill: $red;
  }
}
.right__buttons-like-svg {
  height: 17px;
  stroke: $gray-text;
  stroke-width: 2;
}

.right__buttons-offer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 234px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background: $orange-2;
  }
}
.left__header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 0 0 24px 0;
}
.header__user {
  display: flex;
}
.header__user-avatar-container {
  position: relative;
  height: 100px;
  width: 100px;
}

.header__user-avatar {
  height: 100px;
  width: auto;
  position: absolute;
  height: 100px;
  width: auto;
}
.header__online-indicator {
  z-index: 10;
  background-color: $green;
  border-radius: 50%;
  margin: 0;
  margin: 80% 0 0 80%;
  width: 10px;
  height: 10px;
  position: relative;
  box-shadow: 0 0 0 2px #fff;
}

.header__user-title {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}
.header__user-paragraph-gender {
  display: flex;
  margin: 8px 0 4px 0;
}
.header__user-img-container {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__user-location {
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  margin: 0 4px;
  min-width: 357px;
}
.header__user-updated-text {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 0 4px;
  color: $gray-light-text;
  span {
    color: $green;
  }
}
.header__user-updated {
  display: flex;
  margin: 4px 0;
}
.header__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.header__buttons-file,
.header__buttons-download {
  margin-right: 16px;
}
.header__button {
  cursor: pointer;
  stroke: $gray-text;
}
.header__buttons {
  min-width: 110px;
}
.stroke-orange {
  stroke: $orange;
}

/* Vacancy */
.right__buttons-offer-text {
  margin: 0;
}
.right__vacancy-list {
  position: absolute;
  width: 234px;
  height: 314px;
  border-radius: 5px;
  z-index: 10;
  background: #fff;
  margin: 36px 0 0 0;
  box-shadow: 0 0 3px 0.5px $gray-dark-bg;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.right__vacancy {
  display: flex;
  align-items: center;
  margin: 8px 10px;
  height: 36px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background: $gray-bg-general;
  }
}
.right__vacancy-img {
  stroke: $orange;
  width: 16px;
  height: 16px;
  margin: 0 0 0 8px;
}
.right__vacancy-text {
  font-weight: normal;
  font-size: 13px;
  margin: 0 0 0 8px;
}

.inactive {
  height: 0px;
  opacity: 0;
  display: none;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}

.inactive-display-2 {
  visibility: hidden;
}

/* Read more  */
.read-more-btn {
  cursor: pointer;
}

.duties__list-read-more-text {
  display: none;
}
.achivments__list-read-more-text {
  display: none;
}
.causes__list-read-more-text {
  display: none;
}
.read-more-text--show {
  display: block;
}

/* Resps */
.transformY {
  transform: rotate(180deg);
}

/* Pop Up */
.popup {
  width: 442px;
  height: 336px;
  box-shadow: 0 0 3px 0.5px $gray-dark-bg;
  border-radius: 10px;
  position: absolute;
  z-index: 11;
  background: #fff;

  .popup__title {
    font-weight: 500;
    font-size: 18px;
    margin: 24px 24px 20px 24px;
    cursor: move;
  }
  .popup__textarea {
    position: relative;
    width: 394px;
    height: 178px;
    margin: 0 24px 20px 24px;
    border: 1px solid $gray-bg-general;
    border-radius: 5px;
    z-index: 12;
    &::placeholder {
      opacity: 0;
    }
  }
  .popup__buttons {
    margin: 0 24px 24px 24px;
  }
  .popup__button-cancel {
    width: 189px;
    height: 42px;
    background: $gray-bg-general;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: $gray-text;
    cursor: pointer;
  }
  .popup__button-confirm {
    width: 189px;
    height: 42px;
    margin-left: 16px;
    background: $orange;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }
}
.right__video-container {
  display: flex;
}

/* Slider mini*/

.portfolio__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: -30px 0 0 20px;
}

.portfolio__slider .slick-arrow.slick-prev {
  margin-top: -16px;
  margin-left: -22px;
  transform: translate(0 50%);
  left: 0;
  width: 32px;
  height: 32px;
  background: url(../img/arrow-left.svg) 0 0 / 100% no-repeat;
}
.portfolio__slider .slick-arrow.slick-next {
  margin-top: -16px;
  margin-right: -22px;
  right: 0;
  width: 32px;
  height: 32px;
  background: url(../img/arrow-right.svg) 0 0 / 100% no-repeat;
}
.portfolio__slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

/* Slider big*/
.full-slider-container {
  width: auto;
  max-width: 666px;
  height: 450px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-slider {
  background: #fff;
  z-index: 15;
  border-radius: 20px;
  max-width: 666px;
}

.full-slider__close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 16;
  cursor: pointer;
}
.full-slider__img {
  border-radius: 20px 20px 0 0;

  width: 100%;
}

.full-slider__info {
  margin: 20px;
}
.full-slider__title {
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 2px 0;
}
.full-slider__desc {
  font-weight: normal;
  font-size: 16px;
  color: $gray-text;
  margin: 0 0 2px 0;
}
.full-slider__price {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.full-slider .slick-arrow {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 2;
  font-size: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: -30px 0 0 20px;
}

.full-slider .slick-arrow.slick-prev {
  margin-top: -16px;
  left: 0;
  width: 32px;
  height: 32px;
  background: url(../img/arrow-left.svg) 0 0 / 100% no-repeat;
}
.full-slider .slick-arrow.slick-next {
  margin-top: -16px;
  right: 15px;
  width: 32px;
  height: 32px;
  background: url(../img/arrow-right.svg) 0 0 / 100% no-repeat;
}
.full-slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.user-container {
  display: none;
}
.right__cancel-button {
  display: none;
}
.inactive-display {
  display: none;
}

@media screen and (max-width: 950px) {
  .container {
    margin: 0;
    flex-direction: column;
    min-width: 300px;
    max-height: 100%;
    border-radius: 0;
  }

  .left {
    width: 100%;
    top: 0;
    margin: 0;
  }
  .left__header {
    flex-direction: column-reverse;
    height: auto;
  }
  .header__buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 22;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $gray-dark-bg;
    background-color: #fff;
  }
  .header__button {
    margin-right: 20px;
  }

  .header__user {
    margin: 50px 0 160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__user-avatar-container {
    margin: 10px 0 10px 0;
  }
  .header__user-title {
    text-align: center;
  }
  .header__user-img-container {
    display: none;
  }
  .header__user-info {
    margin-left: 0;
  }
  .header__user-gender {
    display: none;
  }
  .header__user-location {
    text-align: center;
    font-size: 15px;
  }
  .header__user-paragraph-gender {
    display: flex;
    justify-content: center;
  }
  .header__user-img-container,
  .header__user-updated-icon {
    display: none;
  }
  .header__user-updated {
    display: flex;
    justify-content: center;
  }
  .right__header {
    width: 100px;
    left: 0;
    margin: 503px 15px 0 15px;
  }
  .right__header-dots {
    display: none;
  }
  .right__header-salary {
    font-size: 16px;
  }
  .right__buttons {
    justify-content: center;
    margin: 275px 0 0 0;
    transition: 0.4s;
    width: 100%;
    z-index: 21;
  }
  .right__buttons-offer {
    margin: 0 16px 24px 0;
    width: 287px;
    height: 42px;
  }
  .right__buttons-like {
    height: 42px;
    width: 42px;
  }
  .right__buttons-like-svg {
    height: 20px;
    stroke: $gray-text;
    stroke-width: 2;
  }
  .right__video {
    z-index: 20;
    min-width: 300px;
    width: calc(100% - 30px);
    margin: 350px 15px 0 15px;
    border: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-bg-general;
  }
  .right__video-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $gray-2;
    width: 42px;
    height: 42px;
    border-radius: 8px;
  }
  .right__video-arrow {
    stroke: $gray-text;
  }
  .left__profession {
    margin: 35px 15px 0 15px;
  }
  .left__profession-title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .left__profession-list-title {
    font-size: 18px;
    font-weight: normal;
  }
  .left__profession-list {
    margin: 6px 0 20px 0;
    padding-left: 25px;
    font-size: 16px;
  }
  .left__conditions {
    margin: 0 15px 24px 15px;
    font-size: 16px;
  }

  .left__conditions-employments {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  .left__conditions-employment {
    margin: 0 0 8px 0;
  }
  .left__conditions-schedules {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }
  .left__conditions-schedule {
    margin: 0 0 8px 0;
  }
  .left__conditions-movings {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  .left__conditions-moving {
    margin: 0 0 8px 0;
  }
  .title {
    min-width: 0;
    width: 80%;
  }
  .left__exp-header {
    margin: 0 15px 20px 15px;
    width: calc(100% - 30px);
  }
  .left__exp-header-text {
    font-weight: normal;
    font-size: 18px;
    text-transform: none;
    span {
      font-weight: normal;
      font-size: 18px;
    }
  }
  .left__exp-time {
    margin: 0 15px 16px 15px;
  }
  .left__exp-dates {
    font-weight: 500;
    font-size: 14px;
  }
  .left__exp-total {
    font-size: 14px;
  }
  .left__exp-workplace {
    margin: 0 15px;
  }
  .workplace-name {
    margin-left: 0;
    font-weight: normal;
    font-size: 18px;
  }
  .workplace__comp-site {
    font-size: 16px;
  }
  .workplace-img {
    display: none;
  }
  .duties__title {
    margin: 16px 0;
    font-weight: 500;
    font-size: 18px;
  }
  .parent-container {
    margin: 0 15px;
  }
  .duties__item,
  .achivments__item,
  .causes__item {
    font-size: 16px;
    color: $gray-text;
  }
  .read-more-btn {
    font-size: 16px;
    color: $blue;
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
  }
  .portfolio__title-container {
    margin: 0 15px 20px 15px;
    width: calc(100% - 30px);
  }
  .portfolio__slider {
    margin: 0 0 16px 6px;
  }
  .portfolio__slider .slick-arrow.slick-prev {
    margin: 0;
    opacity: 0;
  }
  .portfolio__slider .slick-arrow.slick-next {
    opacity: 0;
    margin: 0;
  }
  .right {
    width: 100%;
    max-width: 100%;
  }
  .right__media {
    display: none;
  }
  .right__history {
    margin: 0 15px;
    width: calc(100% - 30px);
    border: none;
    border-bottom: 2px solid $gray-dark-bg;
  }
  .right__history-resps {
    border: none;
    margin-bottom: 10px;
  }
  .right__history-title-img {
    display: none;
  }
  .right__history-title-text {
    font-size: 16px;
    margin-left: 0;
  }
  .inactive-small {
    display: none;
  }
  .header__buttons.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45px;
    transition: 0.3s;
  }
  .user-container {
    display: flex;
    align-items: center;
  }
  .user-container__avatar {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    display: none;
  }
  .user-container__text {
    margin-left: 8px;
    display: none;
  }
  .user-container__title {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
  .user-container__desc {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
  }
  .header__user-svg {
    cursor: pointer;
  }
  .display {
    display: block;
  }
  .right__buttons.sticky-bottom {
    position: fixed;
    z-index: 20;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 45px;
    transition: 0.4s;
    background-color: #fff;
    padding: 8px 0;
    border-radius: 8px;
  }
  .right__vacancy-list {
    width: 100%;
    height: 440px;
    bottom: 0;
  }
  .right__cancel-button {
    display: block;
    position: absolute;
    bottom: 460px;
    width: 100%;
    height: 52px;
    border-radius: 5px;
    z-index: 20;
    background: #fff;
    margin: 36px 0 0 0;
    border: none;
    box-shadow: 0 0 3px 0.5px $gray-dark-bg;
    font-weight: 600;
    font-size: 16px;
    color: $blue-2;
  }
  .right__vacancy {
    border-bottom: 1px solid $gray-bg-general;
    padding: 8px 0;
  }
  .right__vacancy.no-border {
    border: none;
  }
  .right__vacancy-img {
    width: 18px;
    height: 18px;
  }
  .right__vacancy-text {
    font-size: 17px;
  }

  .right__vacancy-list.top {
    bottom: -230px;
  }
  .right__cancel-button.top {
    bottom: -300px;
  }
  .bg-dark {
    z-index: 25;
  }
  .popup {
    top: 50px;
    width: 100%;
    height: 375px;
    box-shadow: 0 0 3px 0.5px $gray-dark-bg;
    position: fixed;

    .popup__title {
      font-size: 16px;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-dark-bg;
    }
    .popup__textarea {
      width: calc(100% - 48px);
      margin: 0 24px 32px 24px;
      border: none;
      border-radius: 5px;
      z-index: 12;
      &::placeholder {
        font-weight: normal;
        font-size: 15px;
        opacity: 1;
      }
    }
    .popup__buttons {
      display: flex;
      margin: 0 24px 24px 24px;
    }
    .popup__button-cancel {
      width: 160px;

      border: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 14px;
    }
    .popup__button-confirm {
      width: 160px;
      height: 42px;
      margin-left: 10px;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
